openapi: 3.1.0
info:
  title: bytestream · OpenAI 系列（文本生成）
  version: 0.1.0
  license:
    name: Proprietary
  description: |
    通过 bytestream 网关调用的 OpenAI 兼容系列模型，与 OpenAI 官方 Chat Completions 标准完全兼容，
    详见 /docs/text/openai。
servers:
  - url: https://aiapi.bytestream.com.cn
    description: bytestream 网关
security:
  - bearerAuth: []
paths:
  /v1/chat/completions:
    post:
      summary: 创建对话补全（OpenAI 系列）
      description: OpenAI 兼容的 Chat Completions 接口，支持流式与非流式响应。
      operationId: createChatCompletionOpenAI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: 补全成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  securitySchemes:
    bearerAuth:
      $ref: './_shared.yaml#/components/securitySchemes/bearerAuth'
  schemas:
    ChatCompletionRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
          enum:
            - gpt-5.6
            - gpt-5.5
          description: gpt-5.6 / gpt-5.5 等综合能力档位模型
        messages:
          type: array
          items:
            type: object
            required: [role, content]
            properties:
              role:
                type: string
                enum: [system, user, assistant, tool]
              content:
                type: string
        stream:
          type: boolean
          default: false
        temperature:
          type: number
        max_tokens:
          type: integer
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: chat.completion
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                  content:
                    type: string
              finish_reason:
                type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
  responses:
    BadRequest:
      $ref: './_shared.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: './_shared.yaml#/components/responses/Unauthorized'
    RateLimited:
      $ref: './_shared.yaml#/components/responses/RateLimited'
