openapi: 3.1.0
info:
  title: bytestream · 千问 Qwen 系列（文本生成）
  version: 0.1.0-skeleton
  license:
    name: Proprietary
  description: |
    通过 bytestream 网关调用的千问 Qwen 系列模型。参考页壳，字段定义为骨架，
    具体的模型专属参数（如思考模式开关）由后续内容里程碑补充。
servers:
  - url: https://aiapi.bytestream.com.cn
    description: bytestream 网关
security:
  - bearerAuth: []
paths:
  /v1/chat/completions:
    post:
      summary: 创建对话补全（千问 Qwen 系列）
      description: OpenAI 兼容的 Chat Completions 接口，支持流式与非流式响应。
      operationId: createChatCompletionQwen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: 补全成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  securitySchemes:
    bearerAuth:
      $ref: './_shared.yaml#/components/securitySchemes/bearerAuth'
  schemas:
    ChatCompletionRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
          enum:
            - qwen3.7-max
            - qwen3.7-plus
          description: qwen3.7-max / qwen3.7-plus 模型档位
        messages:
          type: array
          items:
            type: object
            required: [role, content]
            properties:
              role:
                type: string
                enum: [system, user, assistant, tool]
              content:
                type: string
        stream:
          type: boolean
          default: false
        temperature:
          type: number
        max_tokens:
          type: integer
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: chat.completion
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                  content:
                    type: string
              finish_reason:
                type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
  responses:
    BadRequest:
      $ref: './_shared.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: './_shared.yaml#/components/responses/Unauthorized'
    RateLimited:
      $ref: './_shared.yaml#/components/responses/RateLimited'
